.body {
    background-color: #bfc0c3;
    color: #332828;
    margin: 0;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: stretch; /* Ensure children stretch to fill the container */
}

.page {
    margin-left: 20vw;
}

.container {
    max-width: 1000px;
    margin: auto 2em;
}

a {
    color: #332828;
    margin: 0;
    text-decoration: none;
}



@media (max-width: 868px) {
    .container {
        max-width: 500px;
    }
}

@media (max-width: 568px) {
    .body {
        display: block;
        
    }

    .page {
        width: 100vw;
        margin-left: 0;
        margin-top: 20vh;
    }
    .container {
        max-width: 400px;
    }
    
}